/*
    Diseño de los textos
*/
.contenedor_titulos {
  color: white;
  margin-left: 5em;
}
.title_custom {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

.sub_title_custom {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
}

.main_bar {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 99px;
  padding-top: 1.5%;
}

.login_button {
  color: white;
  margin-top: 2%;
  margin-left: 85%;
  position: absolute;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;

  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.login_button:hover {
  color: black;
  border: 1px solid #000000;
  background: white;
}

.login_button:hover i {
  color: black !important;
}

.img_logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*

Diseño del formulario 

*/
.contenedor_formulario {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 8px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 20px;
}
.field_personal {
  padding-left: 1em !important;
  color: black !important;
  background: #ffffff !important;
  border-radius: 10px !important;
}
input::placeholder {
  color: gray !important;
}
.text {
  color: white !important;
  font-weight: bold !important;
}
.reg_button {
  color: white;
  font-weight: bold;
  background: #007f00;
  border-radius: 10px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* 

Diseño del footer

*/
.bottom_bar {
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
}
/*

MODIFICACION DEL MODAL 

*/

.modal_modification {
  width: 50% !important;
  height: 70% !important;
  color: white;
  background-color: black !important;
}

.modal_padding {
  padding: 5% !important;
}

.texto_login_modificado {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
}
/* 

Row responsive

*/
.row_custom {
  margin-top: 8%;
  text-align: left;
}
.row_custom::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* CUSTOM media SCREEN */

.contenedor_boxes {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .title_custom {
    font-size: 44px;
    line-height: 58px;
  }
}

@media only screen and (max-width: 1024px) {
  .login_button {
    margin-left: 80%;
  }
  .contenedor_boxes {
    display: block !important;
  }
}
@media only screen and (max-width: 950px) {
  .contenedor_formulario {
    margin-right: 10px;
  }
  .reg_button {
    padding-left: 50px;
    padding-right: 50px;
  }
  .title_custom {
    font-size: 34px;
    line-height: 48px;
  }
  .row_custom {
    margin-top: 9%;
  }
  .contenedor_boxes {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .login_button {
    margin-left: 78%;
  }
  .row_custom {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 650px) {
  .login_button {
    margin-left: 68%;
  }
  .row_custom {
    margin-top: 15%;
  }
}
/*

HOME CSS


*/

.polygon2 {
  width: 375px !important;
  height: 70px !important;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  text-align: center;
  background: rgba(0, 127, 0, 0.5);
  border: 5px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.custom_container {
  margin-top: 2em;
}

.custom_container nav ul li:hover {
  background: #2f2f2f !important;
  cursor: pointer;
}

.custom_container nav ul li i {
  margin-top: 0.2em;
}

.server_name {
  color: white !important;
  font-weight: bold;
}

.custom_data {
  color: white;
  background: #2f2f2f !important;
  display: flex;
}

.polygon2:hover {
  background: rgba(0, 127, 0, 0.7);
}

.box_hall {
  padding: 0px !important;
}

.event {
  background: #2f2f2f;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.container_events{
  padding-right: 0.5em;
  height: 422px;
  overflow: auto;
}

.dot {
  height: 10px;
  margin-right: 1em;
  width: 10px;
  background-color: rgba(0, 127, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
}

.menu_dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

li a {
  padding-left: 2em;
}

li:hover .menu_dropdown {
  display: block;
}

.no_float {
  float: initial !important;
}

/*

SHOP CSS

*/
.custom_tab{
  display: block !important;
  text-align: initial !important;
  margin: 1em !important;
}
.custom_tabs{
  display: block !important;
  margin: 0 !important;
  width: 300px !important;
  height: 700px !important;
}

.custom_list{
  width: 100%;
  height: 700px !important;
  overflow: auto;
}

/*


HANGAR CSS

*/

.custom_choose{
  width: 300px;
  height: 50px;
  cursor: pointer;
  border-radius: 2em;
  background: rgba(0, 127, 0, 0.5);
  border: 5px solid rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 20px;
}